{% load static %}
{% load svg %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Home Dashboard</title>
    <meta name="viewport" content="width=1200, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.umd.min.js" integrity="sha512-Y51n9mtKTVBh3Jbx5pZSJNDDMyY+yGe77DGtBPzRlgsf/YLCh13kSZ3JmfHGzYFCmOndraf0sQgfM654b7dJ3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ stats.memory|json_script:"memory-graph-data" }}
    {{ stats.cpu|json_script:"cpu-graph-data" }}
    {{ stats.network|json_script:"network-graph-data" }}
    {{ disks|json_script:"disks-graph-data" }}
<body>
    <div class="dashboard-container">
        <main class="grid">
            {% include "dashboard/partials/header.html" with header=header alerts=alerts %}
            {% include "dashboard/partials/weather.html" with weather=weather %}
            {% include "dashboard/partials/disks.html" with disks=disks %}
            {% include "dashboard/partials/stat_graph.html" with stats=stats.memory %}
            {% include "dashboard/partials/stat_graph.html" with stats=stats.cpu %}
            {% include "dashboard/partials/stat_graph.html" with stats=stats.network %}
            {% comment %} {% include "dashboard/partials/transmission.html" %} {% endcomment %}
            {% include "dashboard/partials/docker.html" with docker=docker%}
            {% comment %} {% include "dashboard/partials/calendar.html" with calendar=calendar%} {% endcomment %}
        </main>
    </div>
    <script>
        Chart.defaults.backgroundColor = '#FFFFFF';
        Chart.defaults.borderColor = '#36A2EB';
        Chart.defaults.color = '#000';
        Chart.defaults.plugins.legend.display = false;
        Chart.defaults.scale.grid.color = '#dddddd'
        const options = { 
            animation: false,
            devicePixelRatio: 1,
        };

        // Disks
        const disks = JSON.parse(document.getElementById("disks-graph-data").textContent);
        const systemStats = {
            mem: JSON.parse(document.getElementById("memory-graph-data").textContent),
            cpu: JSON.parse(document.getElementById("cpu-graph-data").textContent),
            network: JSON.parse(document.getElementById("network-graph-data").textContent),
        }
        const diskBackgroundColor = ['#00ff00','#80ff80'];
        for (const d of disks.disks) {
            const data = {
                datasets: [
                    {
                        data: [d.disk_used_percent, d.disk_unused_percent],
                        backgroundColor: diskBackgroundColor,
                    },
                ],
            };
            new Chart(
                document.getElementById(`disk-canvas-${d.id}`),
                {
                    type: 'doughnut',
                    data,
                    options: {...options, responsive: false},
                },
            );
        }
        // Usage graphs
        for (const stats of Object.values(systemStats)) {
            for (const graphData of stats.graph_data) {
                const graphId = `stat-graph-canvas-${ stats.stat_id_and_grid }-${graphData.id}`
                const data = {
                    labels: graphData.labels,
                    datasets: [{
                        data: graphData.values,
                        borderColor: graphData.color
                    }]
                };
                new Chart(
                    document.getElementById(graphId),
                    {
                        type: 'line',
                        data,
                        options: {
                            ...options, 
                            responsive: true,
                            pointStyle: false,
                        },
                    },
                );
            }

        }
    </script>
</body>

</html>