{% load static %}
{% load svg %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Home Dashboard</title>
    <meta name="viewport" content="width=1200, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.5.0/chart.umd.min.js" integrity="sha512-Y51n9mtKTVBh3Jbx5pZSJNDDMyY+yGe77DGtBPzRlgsf/YLCh13kSZ3JmfHGzYFCmOndraf0sQgfM654b7dJ3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ stats.memory|json_script:"memory-graph-data" }}
    {{ stats.cpu|json_script:"cpu-graph-data" }}
    {{ stats.network|json_script:"network-graph-data" }}
    {{ disks|json_script:"disks-graph-data" }}
<body>
    <div class="dashboard-container">
        <main class="grid">
            {% include "dashboard/partials/header.html" with header=header alerts=alerts %}

            {% include "dashboard/partials/weather.html" with weather=weather %}

            {% include "dashboard/partials/disks.html" with disks=disks %}

            {% include "dashboard/partials/stat_graph.html" with
                stats=stats.memory
            %}

            {% include "dashboard/partials/stat_graph.html" with
                stats=stats.cpu
            %}

            {% include "dashboard/partials/stat_graph.html" with
                stats=stats.network
            %}

            {% comment %} {% include "dashboard/partials/transmission.html" %} {% endcomment %}

            {% include "dashboard/partials/docker.html" with docker=docker%}

            {% comment %} {% include "dashboard/partials/calendar.html" with calendar=calendar%} {% endcomment %}

        </main>
    </div>
    <script>
        Chart.defaults.backgroundColor = '#FFFFFF';
        Chart.defaults.borderColor = '#36A2EB';
        Chart.defaults.color = '#000';
        const options = { 
            responsive: false, 
            animation: false,
            devicePixelRatio: 1,
        };

        // Disks
        const disks = JSON.parse(document.getElementById("disks-graph-data").textContent)
        const systemStats = {
            mem: JSON.parse(document.getElementById("memory-graph-data").textContent),
            cpu: JSON.parse(document.getElementById("memory-graph-data").textContent),
            network: JSON.parse(document.getElementById("memory-graph-data").textContent),
        }
        const diskLabels = [
                "Used",
                "Unused",
            ]
        const diskBackgroundColor = ['#0000ff','#8080ff'];
        for (const d of disks ) {
            const data = {
                labels: diskLabels
                datasets: [{
                    data: [d.disk_used_pct,d.disk_unused_pct],
                    backgroundColor: diskBackgroundColor,
                }]
            };
            new Chart(
                document.getElementById(`disk-canvas-${d.id}`),
                config: {
                    type: 'doughnut',
                    data,
                    options,
                },
            );
        }
        // Usage graphs
        for (const stats of Object.values(systemStats)) {
            const data = {
                datasets: stats.graph_data.map((gd) => {
                    data: values,
                    backgroundColor: gd.color,
                })
            };
            new Chart(
                document.getElementById(`stat-graph-canvas-${stat.stat_id_and_grid}`),
                config: {
                    type: 'line',
                    data,
                    options,
                },
            );
        }
    </script>
</body>

</html>